.FullPost {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    padding: 10%;
    border:#004094 solid 3px;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
}

.heading {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}