.SidebarMini {
    background-color: rgb(43, 43, 43);
    width: 4%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0%;
    color: white;
    transition: 0.5s;
    white-space: nowrap;
    z-index:-1;
}

.SidebarFull {
    background-color: rgb(43, 43, 43);
    width: 15%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0%;
    color: white;
    transition: 0.5s;
    white-space: nowrap;
    z-index: -1;
}

.ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding:0%;
    margin-top: 20px;
    height: 100%;
}

.NavigationItem {
    padding: 10px;
    font-weight: bold;
    height: fit-content;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 20px;

}

.Inactive{
    text-decoration: none;
    color: #848d95;
}

.Inactive:hover{
    text-decoration: none;
    color: #ffffff;
}

.NavigationItem a.Inactive:hover,
.NavigationItem a.Inactive:active,
.NavigationItem a.Inactive.active {
    color: #58c6d5;
    text-decoration: none;
}

.SidebarMini li {
    border-left: rgb(43, 43, 43) 3px solid;;
}

.SidebarFull li {
    border-left: rgb(43, 43, 43) 3px solid;;
}

.ActiveClass li{
    border-left: #58c6d5 3px solid;
    background-color: rgb(34, 34, 34);
}

.label {
    margin-left: 20px;
    cursor: pointer;
}

.content {
    padding: 10px;
    font-weight: bold;
    height: 40px;
    vertical-align: middle;
    text-decoration: none;
    margin-top: 16px;
    color: #848d95;
}

