.ToolbarPanel{
    /* border: grey solid 1px; */
    /* border-bottom: grey solid 1px; */
    width: 100%;
    border-radius: 5px;
    /* padding: 4px; */
    text-align: center;
    /* background-color: white; */
}